@using DotNETProject.Client.Service;
@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization
@inject CustomAuthStateProvider AuthStateProvider

<MudPaper Width="250px" Class="d-inline-flex py-3" Elevation="0">
    <MudNavMenu Class="mud-width-full">
        <MudText Typo="Typo.h6" Class="px-4">ADMIN DASHBOARD</MudText>
        <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">@Admin</MudText>
        
        <MudDivider Class="my-2" />
        
        <MudNavLink Href="/admin" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
        <MudNavLink Href="/swagger/index.html" Icon="@Icons.Material.Filled.Storage">API</MudNavLink>
        
        <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="true">
            <MudNavLink Href="/admin/user-management" Icon="@Icons.Material.Filled.People" IconColor="Color.Success">Users</MudNavLink>
            <MudNavLink Href="/security" Icon="@Icons.Material.Filled.Security" IconColor="Color.Info" Disabled="true">Security</MudNavLink>
            <MudNavLink Href="/admin/nation-management" Icon="@Icons.Material.Filled.Flag" IconColor="Color.Error">Nation</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Casting" Icon="@Icons.Material.Filled.Settings" Expanded="true">
            <MudNavLink Href="/admin/cast-management" Icon="@Icons.Material.Filled.People" IconColor="Color.Success">Actors - Actresses</MudNavLink>
            <MudNavLink Href="/admin/director-management" Icon="@Icons.Material.Filled.PersonOutline" IconColor="Color.Info">Director</MudNavLink>
        </MudNavGroup>

        <MudNavGroup Title="Film" Icon="@Icons.Material.Filled.Settings" Expanded="true">
            <MudNavLink Href="/admin/movie-management" Icon="@Icons.Material.Filled.Movie" IconColor="Color.Success">Movie</MudNavLink>
            <MudNavLink Href="/admin/TVSeries-management" Icon="@Icons.Material.Filled.Tv" IconColor="Color.Success">TVSeries</MudNavLink>
            <MudNavLink Href="/admin/genre-management" Icon="@Icons.Material.Filled.Tag" IconColor="Color.Success">Genre</MudNavLink>
        </MudNavGroup>

    </MudNavMenu>
</MudPaper>

@code {
    private string Admin;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        Admin = authState.User.Identity.Name;
    }
}

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DASHBOARD</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
*@